.plane-class{
  height: 200px;
  line-height: 200px;
  text-align: center;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.right-side{
  display:inline-block;
}

.footer-class{
  display:inline-block;
}

.finish{
  font-weight: bold;
  text-decoration: underline;
}

.start{
  font-weight: bold;
  text-decoration: underline;
}
